<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            Assigned {person} <h3 class="name">{realname}</h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            Assigned hours: <h3 class="name">{assignedhours}</h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            Planned hours: <h3 class="name">{hours}</h3>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            Hours left: <h3 class="name">{hoursleft}</h3>
        </div>
    </div>
    <!--<div class="col-lg-2">
                <div class="form-group">
                    <button type="button" class="btn btn-success au-input--full" id="btn-submit"
                        {open}>{btnText}</button>
                </div>-->
</div>