<div class=" card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="au-message__item-time">
                    <h4>{date}</h4>
                    <span>{time}</span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label>{description}</label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-group">
                    <label>Duration: {duration}min</label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label>{group}:<br>{aplicants}</label>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    {buttons}
                </div>
            </div>
        </div>
    </div>
</div>