<div id="error">
</div>
<div class="card">
    <div class="card-body">
        <form method="post" id="summary-edit-form">
            <input type="hidden" name="sessionid" value="{sessionid}" />
            <input type="hidden" name="duration" value="{duration}" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Summary</label>
                        <textarea class="au-input au-input--full" type="text" name="summary"
                            {disabled}>{summary}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>