<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Street</label>
                <input class="au-input au-input--full" type="text" name="street" placeholder="Street">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Street No</label>
                <input class="au-input au-input--full" type="text" name="streetno" placeholder="Street No">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Local No</label>
                <input class="au-input au-input--full" type="text" name="localno" placeholder="Local No">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Postal Code</label>
                <input class="au-input au-input--full" type="text" name="postalcode" placeholder="Postal Code">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Town</label>
                <input class="au-input au-input--full" type="text" name="town" placeholder="Town">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Phone</label>
                <input class="au-input au-input--full" type="text" name="phone" placeholder="Phone">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Client type</label>
                <select class="au-select au-input--full " id="type" name="type">
                                    <option value="">Select</option>
                    <option value="0">Agency</option>
                    <option value="1">Premium</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Programm</label>
                <input class="au-input au-input--full" type="text" name="programm" placeholder="Programm">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Start of studies</label>
                <input class="au-input au-input--full" type="text" name="studiesyear" placeholder="Start of studies">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Birth year</label>
                <input class="au-input au-input--full" type="text" name="birthyear" placeholder="Birth year">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Language Exam</label>
                <select class="au-select au-input--full " name="language">
                    <option value="">Select</option>                    
                    <option value="ielts">IELTS</option>
                    <option value="ib">IB</option>
                    <option value="toefl">TOEFL</option>
                </select>
            </div>
        </div>
    </div>
</div>